body {
    font-family: Arial, sans-serif;
    background-color: rgba(103, 104, 102, 0.548);
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 30px auto;
    background-color: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.logos img {
    height: 80px;
    width: 80px;
    object-fit: contain;
    border-radius: 50%;

}


h1 {
    text-align: center;
    color: #333;
}
form label {
    display: block;
    margin-bottom: 10px;
}
input, select, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 4px;
}
fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
}
legend {
    font-weight: bold;
    padding: 0 10px;
}
.botoes {
    text-align: center;
}
button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #0077ff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #005ccc;
}
button[type="reset"] {
    background-color: #ccc;
    color: #333;
}
button[type="reset"]:hover {
    background-color: #999;
}

.mensagem {
    background-color: #e0ffe0;
    border: 1px solid #00cc00;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    color: #006600;
    font-weight: bold;
}

